<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/accordion.css">
  </head>
  <body>
    <div class="app">
      <div class="wrapper">
        <div class="filters-wrapper">
          <div class="accordion-filters-wrapper">
            <ul class="accordion-filters-list">
              <li class="item">
                <div class="accordion-filter">
                  <span class="title">LOCATIONS</span>
                  <button class="accordion-btn" class="btn">
                    <span class="material-symbols-outlined"> add </span>
                  </button>
                </div>
                <ul class="filters-items-list-wrapper accordion-list">
                  <li class="item">
                    <input type="checkbox" name="" id="">
                    <span class="name">Poland</span>
                  </li>
                  <li class="item">
                    <input type="checkbox" name="" id="">
                    <span class="name">Ukraine</span>
                  </li><li class="item">
                    <input type="checkbox" name="" id="">
                    <span class="name">USA</span>
                  </li><li class="item">
                    <input type="checkbox" name="" id="">
                    <span class="name">Canada</span>
                  </li><li class="item">
                    <input type="checkbox" name="" id="">
                    <span class="name">Sweeden</span>
                  </li>
                </ul>
              </li>
              <li class="item">
                <div class="accordion-filter">
                  <span class="title">LOCATIONS</span>
                  <button class="accordion-btn" class="btn">
                    <span class="material-symbols-outlined"> add </span>
                  </button>
                </div>
                <ul class="filters-items-list-wrapper accordion-list">
                  <li class="item">
                    <input type="checkbox" name="" id="">
                    <span class="name">Poland</span>
                  </li>
                  <li class="item">
                    <input type="checkbox" name="" id="">
                    <span class="name">Ukraine</span>
                  </li><li class="item">
                    <input type="checkbox" name="" id="">
                    <span class="name">USA</span>
                  </li><li class="item">
                    <input type="checkbox" name="" id="">
                    <span class="name">Canada</span>
                  </li><li class="item">
                    <input type="checkbox" name="" id="">
                    <span class="name">Sweeden</span>
                  </li>
                </ul>
              </li>
              <li class="item">
                <div class="accordion-filter">
                  <span class="title">LOCATIONS</span>
                  <button class="accordion-btn" class="btn">
                    <span class="material-symbols-outlined"> add </span>
                  </button>
                </div>
                <ul class="filters-items-list-wrapper accordion-list">
                  <li class="item">
                    <input type="checkbox" name="" id="">
                    <span class="name">Poland</span>
                  </li>
                  <li class="item">
                    <input type="checkbox" name="" id="">
                    <span class="name">Ukraine</span>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script src="../scripts/accordion.js">
    </script>
  </body>
</html>
