<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- styles -->
    <link rel="stylesheet" href="../styles/app.css" />
    <link rel="stylesheet" href="../styles/fonts.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <main id="app" class="app" :class="{hidden: isMenuOpen}">
      <!-- header -->
      <header
        id="header"
        class="header col-12"
        :class="{ dropMenuOpen : isShowDropMenu }"
      >
        <div class="top-line menu-float d-flex justify-content-between">
          <div class="left-side">
            <a class="logo" href="#">softserve</a>
          </div>
          <div class="right-side">
            <nav class="navigation d-flex">
              <a class="item item-main" href="#">CAREERS</a>
              <button class="btn btn-search item">
                <span class="material-symbols-outlined"> search </span>
              </button>
              <button @click="openMenu" class="btn btn-menu item">
                <span v-if="!isMenuOpen" class="material-symbols-outlined">
                  menu
                </span>
                <span v-if="isMenuOpen" class="material-symbols-outlined">
                  close
                </span>
              </button>
            </nav>
          </div>
        </div>

        <div class="bottom-line menu-float d-flex justify-content-end">
          <nav class="navigation d-flex">
            <a class="item" href="#">LOG IN AS ASSOCIATE</a>
          </nav>
        </div>

        <!-- mobiles -->
        <div class="mobile-search-wrapper">
          <div class="search-wrapper d-flex">
            <div class="search-pannel d-flex">
              <span class="material-symbols-outlined"> search </span>
              <input v-model="search" type="text" class="serch-input" />
              <span class="found-count"
                >{{ filteredJobs.length }} jobs openning</span
              >
            </div>
            <div class="btn-wrapper">
              <button class="filter-btn" @click="showOrHideMobileFilters">
                <span class="material-symbols-outlined"> filter_alt </span>
              </button>
            </div>
          </div>
        </div>

        <div id="filtersOpen" class="filters-open" v-show="isShowMobileFilters">
          <div class="filters-accordion-wrapper container">
            <div class="filters-wrapper">
              <div class="accordion-filters-wrapper">
                <ul class="accordion-filters-list">
                  <li
                    v-for="filter in this.unique(filters)"
                    :key="filter.id"
                    class="item"
                  >
                    <div class="accordion-filter">
                      <span class="title">{{ filter.toUpperCase() }}</span>
                      <button class="accordion-btn" class="btn">
                        <span class="material-symbols-outlined"> add </span>
                      </button>
                    </div>
                    <ul class="filters-items-list-wrapper accordion-list">
                      <li
                        class="item"
                        v-for="item in filters"
                        v-if="item.name == filter"
                      >
                        <button
                          class="check-box"
                          :class="{active : item.selected}"
                          @click="setFilter(item)"
                        >
                          <span
                            v-show="item.selected"
                            class="material-symbols-outlined"
                          >
                            check
                          </span>
                        </button>
                        <span class="name">{{ item.title }}</span>
                      </li>
                    </ul>
                  </li>
                </ul>
                <div class="filters-apply-wrapper">
                  <button
                    @click="showOrHideMobileFilters"
                    class="apply-filter-btn"
                  >
                    APPLY
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- mobile menu -->
      </header>
      <div v-if="isMenuOpen" id="menu" class="main-menu">
        <transition name="dropMenu">
          <div v-if="isShowDropMenu" class="drop-menu-wrapper" :class="{active: isShowDropMenu}">
            <div class="content">
              <div id="drop-menu-header" class="header">
                <button class="back-btn" @click="{isShowDropMenu = false}">
                  <span class="material-symbols-outlined">
                    keyboard_arrow_left
                  </span>
                  <span>Back to menu</span>
                </button>
              </div>
              <div class="title">Drop menu</div>
              <ul class="drop-menu-list">
                <li class="item">
                  <a href="">Home</a>
                </li>
                <li class="item">
                  <a href="">Careers</a>
                </li>
                <li class="item">
                  <a href="">Contacts</a>
                </li>
                <li class="item">
                  <a href="">Blog</a>
                </li>
              </ul>
            </div>
          </div>
        </transition>
        <div class="content">
          <nav class="menu">
            <ul class="main-menu-list">
              <li class="item">
                <div class="left-side">
                  <span class="number">01</span>
                  <a class="active" href="">Home</a>
                </div>
              </li>
              <li class="item">
                <span class="number">02</span>
                <a href="">Careers</a>
              </li>
              <li class="item">
                <span class="number">03</span>
                <a href="">Contacts</a>
              </li>
              <li class="item">
                <span class="number">04</span>
                <a href="">Blog</a>
              </li>
              <li class="item item-drop">
                <div class="left-side">
                  <span class="number">05</span>
                  <a @click="dropMenu">Drop item</a>
                </div>
                <span
                  :class="{active: isShowDropMenu}"
                  class="drop-arrow material-symbols-outlined"
                >
                  arrow_right
                </span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- banner -->
      <div class="banner">
        <video
          class="banner-video"
          id="video"
          muted
          autoplay="autoplay"
          loop="loop"
          poster="https://career.softserveinc.com/uploads/vacancyCover/default.png"
        >
          <source
            src="https://career.softserveinc.com/uploads/vacancyCover/video1.mp4"
            type="video/mp4"
          />
        </video>
        <div id="bannerContent" class="top">
          <div class="banner-content-wrapper container d-flex">
            <div class="text row col-md-10 col-9 mx-auto">
              <div class="colum col-md-5 col-12">
                <div class="rect"></div>
                <h1 class="title">
                  BE ONE <br />
                  OF US
                </h1>
              </div>
              <div class="colum col-md-7 col-12">
                <div class="description-wrapper">
                  <div class="line"></div>
                  <div class="description">
                    FIND YOUR PERFECT POSITION AT SOFTSERVE AMONG ALL OPEN
                    VACANCIES BELOW
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="workarea-wrapper">
        <div id="workspace" class="workspace container col-12 col-md-9">
          <div class="row">
            <div
              id="desktop-filters"
              class="filters-accordion-wrapper col-12 col-md-4"
            >
              <div class="filters-wrapper">
                <div class="accordion-filters-wrapper">
                  <ul class="accordion-filters-list">
                    <li
                      v-for="filter in this.unique(filters)"
                      :key="filter.id"
                      class="item"
                    >
                      <div class="accordion-filter">
                        <span class="title">{{ filter.toUpperCase() }}</span>
                        <button class="accordion-btn" class="btn">
                          <span class="material-symbols-outlined"> add </span>
                        </button>
                      </div>
                      <ul class="filters-items-list-wrapper accordion-list">
                        <li
                          class="item"
                          v-for="item in filters"
                          v-if="item.name == filter"
                        >
                          <button
                            class="check-box"
                            :class="{active : item.selected}"
                            @click="setFilter(item)"
                          >
                            <span
                              v-show="item.selected"
                              class="material-symbols-outlined"
                            >
                              check
                            </span>
                          </button>
                          <span class="name">{{ item.title }}</span>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-8">
              <div class="search-wrapper">
                <div class="search-pannel d-flex">
                  <span class="material-symbols-outlined"> search </span>
                  <input v-model="search" type="text" class="serch-input" />
                  <span class="found-count"
                    >{{ resultJobs.fullJobsList.length }} jobs openning</span
                  >
                </div>
              </div>
              <div id="selectedFilters" class="filters-wrapper">
                <ul class="filters-list d-flex">
                  <li
                    class="item d-flex align-items-center"
                    v-for="filter in selectedFilters"
                    :key="filter.id"
                  >
                    <span>{{ filter.title }}</span>
                    <button class="close-btn" @click="removeFilter(filter)">
                      <span class="icon material-symbols-outlined">
                        close
                      </span>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="btns-wrapper filters-actions">
                <btn class="btn">Subscribe this filters</btn>
                <btn class="btn">Clear this filters</btn>
              </div>
              <div class="result-jobs-wrapper">
                <ul class="jobs-list">
                  <li class="item" v-for="job in resultJobs.jobsOnPage">
                    <div class="job-wrapper">
                      <div class="job-header">
                        <span class="category"
                          >{{ job.category.toUpperCase() }}</span
                        >
                        <div class="type-of-employment">
                          <div v-for="t in job.typeOfEmployment" class="d-flex">
                            <span class="item">{{ t.toUpperCase() }} </span>
                            <!-- <span class="item">/</span> -->
                          </div>
                        </div>
                      </div>
                      <div class="title-wrapper">
                        <span class="title">{{ job.title }}</span>
                      </div>
                      <div class="location-wrapper d-flex">
                        <span class="icon material-symbols-outlined">
                          location_on
                        </span>
                        <span class="location" v-for="l in job.location"
                          >{{ l.toUpperCase() }};
                        </span>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="pagination-wrapper">
                  <div class="btn-wrapper">
                    <button
                      class="toogle"
                      :disabled="pageNumber === 0"
                      @click="prevPage"
                    >
                      <span class="material-symbols-outlined">
                        arrow_back
                      </span>
                    </button>
                    <button
                      class="page-num"
                      v-for="p in pageCount"
                      :class="{active: p === pageNumber + 1}"
                      @click="openPage(p)"
                    >
                      {{ p }}
                    </button>
                    <button
                      class="toogle"
                      :disabled="pageNumber >= pageCount - 1"
                      @click="nextPage"
                    >
                      <span class="material-symbols-outlined">
                        arrow_forward
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="footer-container d-flex justify-content-between flex-wrap">
          <div class="col-md-5 col-sm-6 col-8 mx-auto">
            <div class="title-warpper">
              <span class="title">CONTACTS</span>
              <div class="line"></div>
            </div>
            <div class="row d-flex justify-content-between flex-wrap">
              <div class="col-md-4 col-12">
                <span class="city">USA HQ - AUSTIN</span>
                <div class="info">
                  <div class="address">
                    201 W 5th Street Suite 1550 Austin, TX 78701
                  </div>
                  <div class="phone">+1-512-516-8880</div>
                  <div class="phone">+1-866-687-3588</div>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <span class="city">LVIV HQ</span>
                <div class="info">
                  <div class="address">2D Sadova Street Lviv 79021</div>
                  <div class="phone">+380-32-240-9999</div>
                  <div class="phone">0-8006-0-8006</div>
                </div>
              </div>
            </div>
          </div>
          <div class="hot-links col-md-5 col-sm-6 col-8 mx-auto">
            <div class="title-warpper">
              <span class="title">HOT LINKS</span>
              <div class="line"></div>
              <div class="row">
                <div class="col-md-4 col-12">
                  <ul class="menu-list">
                    <li class="item"><a href="#">Home</a></li>
                    <li class="item"><a href="#">Your Journey</a></li>
                    <li class="item"><a href="#">Industries</a></li>
                    <li class="item"><a href="#">Services</a></li>
                    <li class="item"><a href="#">Resources</a></li>
                    <li class="item"><a href="#">Press & Events</a></li>
                  </ul>
                </div>
                <div class="col-md-4 col-12">
                  <ul class="menu-list">
                    <li class="item"><a href="#">About Us</a></li>
                    <li class="item"><a href="#">For suppliers</a></li>
                    <li class="item"><a href="#">Blog</a></li>
                    <li class="item"><a href="#">Contact</a></li>
                  </ul>
                </div>
                <div class="col-md-4 col-12">
                  <ul class="menu-list">
                    <li class="item"><a href="#">Careers</a></li>
                    <li class="item"><a href="#">University</a></li>
                    <li class="item"><a href="#">Job Openings</a></li>
                    <li class="item">
                      <a href="#">Learning & Certification</a>
                    </li>
                    <li class="item"><a href="#">For Universities</a></li>
                    <!-- <li class="item"><a href="#">{{ this.unique(filters) }}</a></li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script>
      "use strict";
      let app = new Vue({
        el: "#app",
        data: {
          jobs: [
            {
              category: "BUISNES ANALYSIS",
              title: "Business Analyst (Low-Code Platforms)",
              typeOfEmployment: ["REMOTE"],
              location: ["Poland", "Ukraine"],
              tags: [
                "Junior",
                "Strong Junior",
                "Poland",
                "Ukraine",
                "Business",
                "Analys",
              ],
            },
            {
              category: "DEVELOPER",
              title: "Senior C++ Developer",
              typeOfEmployment: ["REMOTE"],
              location: ["Poland", "Ukraine"],
              tags: ["Senior", "Poland", "Ukraine", "C++", "C/C++", "Gamedev"],
            },
            {
              category: "DATA SCIENCE",
              title: "Senior MySQL Developer",
              typeOfEmployment: ["REMOTE", "office"],
              location: ["Ukraine"],
              tags: [
                "Senior",
                "Ukraine",
                "SQL",
                "MySql",
                "Data Scince",
                "Databases",
              ],
            },
            {
              category: "BUISNES ANALYSIS",
              title: "Junior BUISNES ANALYSIS",
              typeOfEmployment: ["REMOTE"],
              location: ["USA", "Ukraine"],
              tags: [
                "Junior",
                "Strong Junior",
                "USA",
                "Ukraine",
                "Business",
                "Analys",
              ],
            },
            {
              category: "JAVASCRIPT",
              title: "Junior JavaScript (React) developper",
              typeOfEmployment: ["REMOTE"],
              location: ["USA", "Ukraine", "Latvia"],
              tags: [
                "Junior",
                "Strong Junior",
                "Latvia",
                "Ukraine",
                "React",
                "JavaScript",
                "USA",
              ],
            },
            {
              category: "JAVASCRIPT",
              title: "Junior/Middle JavaScript (Vue) developper",
              typeOfEmployment: ["REMOTE", "OFFICE"],
              location: ["United Kingdom", "Ukraine", "Latvia"],
              tags: [
                "Junior",
                "Strong Junior",
                "Middle",
                "Latvia",
                "Ukraine",
                "Vue",
                "JavaScript",
                "United Kingdom",
              ],
            },
            {
              category: "DATA SCIENCE",
              title: "Junior NoSQL Developer (mongoDB)",
              typeOfEmployment: ["REMOTE", "office"],
              location: ["Ukraine"],
              tags: [
                "Junior",
                "Ukraine",
                "mongodb",
                "NoSQL",
                "Data Scince",
                "Databases",
              ],
            },
            {
              category: "DEVELOPPER",
              title: "Middle C/C++ developper",
              typeOfEmployment: ["REMOTE"],
              location: ["USA"],
              tags: ["Middel", "Strong Junior", "USA", "C++", "C"],
            },
            {
              category: "Marketing",
              title: "Junior BUISNES ANALYSIS",
              typeOfEmployment: ["REMOTE"],
              location: ["USA", "Ukraine"],
              tags: [
                "Junior",
                "Strong Junior",
                "USA",
                "Ukraine",
                "Business",
                "Analys",
              ],
            },
            {
              category: "BUISNES ANALYSIS",
              title: "Junior BUISNES ANALYSIS",
              typeOfEmployment: ["REMOTE"],
              location: ["USA", "Ukraine"],
              tags: [
                "Junior",
                "Strong Junior",
                "USA",
                "Ukraine",
                "Business",
                "Analys",
              ],
            },
            {
              category: "BUISNES ANALYSIS",
              title: "Junior BUISNES ANALYSIS",
              typeOfEmployment: ["REMOTE"],
              location: ["USA", "Ukraine"],
              tags: [
                "Junior",
                "Strong Junior",
                "USA",
                "Ukraine",
                "Business",
                "Analys",
              ],
            },
            {
              category: "BUISNES ANALYSIS",
              title: "Junior BUISNES ANALYSIS",
              typeOfEmployment: ["REMOTE"],
              location: ["USA", "Ukraine"],
              tags: [
                "Junior",
                "Strong Junior",
                "USA",
                "Ukraine",
                "Business",
                "Analys",
              ],
            },
          ],
          filters: [
            {
              id: 1,
              name: "location",
              category: "location",
              title: "Ukraine",
              selected: false,
            },
            {
              id: 2,
              name: "location",
              category: "location",
              title: "Poland",
              selected: false,
            },
            {
              id: 3,
              name: "location",
              category: "location",
              title: "Latvia",
              selected: false,
            },
            {
              id: 4,
              name: "location",
              category: "location",
              title: "Nitherland",
              selected: false,
            },
            {
              id: 5,
              name: "directions",
              category: "directions",
              title: "Web-development",
              selected: false,
            },
            {
              id: 6,
              name: "directions",
              category: "directions",
              title: "Big Data",
              selected: false,
            },
            {
              id: 7,
              name: "directions",
              category: "directions",
              title: "Marketing",
              selected: false,
            },
            {
              id: 8,
              name: "directions",
              category: "direction",
              title: "UI/UX",
              selected: false,
            },
            {
              id: 9,
              name: "tech levels",
              category: "techLevels",
              title: "Junior",
              selected: false,
            },
            {
              id: 10,
              name: "tech levels",
              category: "techLevels",
              title: "Trainee",
              selected: false,
            },
            {
              id: 11,
              name: "tech levels",
              category: "techLevels",
              title: "Middle",
              selected: false,
            },
            {
              id: 12,
              name: "tech levels",
              category: "techLevels",
              title: "Senior",
              selected: false,
            },
          ],
          selectedFilters: [],
          search: "",
          pageNumber: 0,
          sizeOfPage: 10,
          isShowMobileFilters: false,
          isShowDropMenu: false,
          isMenuOpen: false,
        },
        computed: {
          filteredJobs() {
            // SERACH CODE

            return this.jobs.filter((job) => {
              return job.title
                .toLowerCase()
                .includes(this.search.toLowerCase());
            });
          },
          pageCount() {
            let l = this.jobs.length;
            let s = this.sizeOfPage;

            return Math.ceil(l / s);
          },
          resultJobs() {
            const filteredJobs = this.serchByFilters(this.jobs);
            const jobs = filteredJobs.filter((job) => {
              return job.title
                .toLowerCase()
                .includes(this.search.toLowerCase());
            });
            const start = this.pageNumber * this.sizeOfPage,
              end = start + this.sizeOfPage;
            return { jobsOnPage: jobs.slice(start, end), fullJobsList: jobs };
          },
        },
        methods: {
          unique(arr) {
            let newFilters = [];
            for (let f of arr) {
              if (!newFilters.includes(f.name)) {
                newFilters.push(f.name);
              }
            }
            return newFilters;
          },
          setFilter(filter) {
            if (filter.selected === false) {
              filter.selected = true;
              this.addFilter(filter);
            } else if (filter.selected === true) {
              filter.selected = false;
              this.removeFilter(filter);
            }
          },
          addFilter(filter) {
            this.selectedFilters.push(filter);
            this.serchByFilters();
          },
          removeFilter(filter) {
            let indexOfFilter = this.selectedFilters.indexOf(filter);
            this.selectedFilters.splice(indexOfFilter, 1);
            filter.selected = false;
          },
          prevPage() {
            this.pageNumber--;
          },
          nextPage() {
            this.pageNumber++;
          },
          serchByFilters(jobs) {
            let filteredJobs = [];
            if (this.selectedFilters.length > 0) {
              for (let job of this.jobs) {
                for (let filter of this.selectedFilters) {
                  job.tags.forEach((tag) => {
                    if (tag.toLowerCase() === filter.title.toLowerCase()) {
                      filteredJobs.push(job);
                    }
                  });
                }
              }
              return filteredJobs;
            } else {
              return jobs;
            }
          },
          showOrHideMobileFilters() {
            if (this.isShowMobileFilters == true) {
              this.isShowMobileFilters = false;
            } else if (this.isShowMobileFilters == false) {
              this.isShowMobileFilters = true;
            }
          },
          dropMenu() {
            if (this.isShowDropMenu == true) {
              this.isShowDropMenu = false;
            } else if (this.isShowDropMenu == false) {
              this.isShowDropMenu = true;
            }
          },
          openMenu() {
            if (this.isMenuOpen == true) {
              this.isMenuOpen = false;
              this.isShowDropMenu = false;
              this.setHeader();
            } else if (this.isMenuOpen == false) {
              this.isMenuOpen = true;
              this.setHeader();
            }
          },
          setHeader() {
            const menu = document.getElementById("menu");
            if (this.isMenuOpen == false) {
              if (window.scrollY > 10) {
                header.classList.add("active");
              } else if (window.scrollY <= 10) {
                header.classList.remove("active");
              }
            } else if (this.isMenuOpen == true) {
              header.classList.remove("active");
            }
          },
          openPage(number) {
            this.pageNumber = number - 1;
          },
        },
        mounted() {
          window.addEventListener("scroll", this.setHeader);
        },
      });
    </script>
    <script src="../scripts/app.js"></script>
    <script src="../scripts/accordion.js"></script>
  </body>
</html>
