<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- styles -->
    <link rel="stylesheet" href="../styles/app.css" />
    <link rel="stylesheet" href="../styles/fonts.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <main class="app">
      <!-- header -->
      <header class="header">
        <div class="top-line menu-float d-flex justify-content-between">
          <div class="left-side">
            <a class="logo" href="#">softserve</a>
          </div>
          <div class="right-side">
            <nav class="navigation d-flex align-items-center">
              <a class="item" href="#">CAREERS</a>
              <button class="btn btn-search item">
                <span class="material-symbols-outlined"> search </span>
              </button>
              <button class="btn btn-menu item">
                <span class="material-symbols-outlined"> menu </span>
              </button>
            </nav>
          </div>
        </div>

        <div class="bottom-line menu-float d-flex justify-content-end">
          <nav class="navigation">
            <a class="item" href="#">LOG IN AS ASSOCIATE</a>
          </nav>
        </div>
      </header>
      <!-- banner -->
      <div class="bannerWrapper">
        <div class="banner">
          <div class="videoWrapper">
            <video
              class="banner-video"
              id="video"
              muted
              autoplay="autoplay"
              loop="loop"
              poster="https://career.softserveinc.com/uploads/vacancyCover/default.png"
            >
              <source
                src="https://career.softserveinc.com/uploads/vacancyCover/video1.mp4"
                type="video/mp4"
              />
            </video>
          </div>
          <div class="background-blue"></div>
          <div class="banner-content container-fliud">
            <div class="banner-centred-wrapper col-10 col-sm-9 col-md-7">
              <div class="rect"></div>
              <h1 class="title">BE ONE <br />OF US</h1>
              <div class="description-wrapper">
                <div class="line"></div>
                <div class="description">
                  FIND YOUR PERFECT POSITION AT SOFTSERVE AMONG ALL OPEN
                  VACANCIES BELOW
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="workarea-wrapper">
        <div class="workspace container col-12 col-md-9">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="filters-wrapper">
                <div class="accordion-filters-wrapper">
                  <ul class="accordion-filters-list">
                    <li class="item">
                      <div class="accordion-filter">
                        <span class="title">LOCATIONS</span>
                        <button class="accordion-btn" class="btn">
                          <span class="material-symbols-outlined"> add </span>
                        </button>
                      </div>
                      <ul class="filters-items-list-wrapper accordion-list">
                        <li class="item">
                          <input type="checkbox" name="" id="">
                          <span class="name">Poland</span>
                        </li>
                        <li class="item">
                          <input type="checkbox" name="" id="">
                          <span class="name">Ukraine</span>
                        </li><li class="item">
                          <input type="checkbox" name="" id="">
                          <span class="name">USA</span>
                        </li><li class="item">
                          <input type="checkbox" name="" id="">
                          <span class="name">Canada</span>
                        </li><li class="item">
                          <input type="checkbox" name="" id="">
                          <span class="name">Sweeden</span>
                        </li>
                      </ul>
                    </li>
                    <li class="item">
                      <div class="accordion-filter">
                        <span class="title">LOCATIONS</span>
                        <button class="accordion-btn" class="btn">
                          <span class="material-symbols-outlined"> add </span>
                        </button>
                      </div>
                      <ul class="filters-items-list-wrapper accordion-list">
                        <li class="item">
                          <input type="checkbox" name="" id="">
                          <span class="name">Poland</span>
                        </li>
                        <li class="item">
                          <input type="checkbox" name="" id="">
                          <span class="name">Ukraine</span>
                        </li><li class="item">
                          <input type="checkbox" name="" id="">
                          <span class="name">USA</span>
                        </li><li class="item">
                          <input type="checkbox" name="" id="">
                          <span class="name">Canada</span>
                        </li><li class="item">
                          <input type="checkbox" name="" id="">
                          <span class="name">Sweeden</span>
                        </li>
                      </ul>
                    </li>
                    <li class="item">
                      <div class="accordion-filter">
                        <span class="title">LOCATIONS</span>
                        <button class="accordion-btn" class="btn">
                          <span class="material-symbols-outlined"> add </span>
                        </button>
                      </div>
                      <ul class="filters-items-list-wrapper accordion-list">
                        <li class="item">
                          <input type="checkbox" name="" id="">
                          <span class="name">Poland</span>
                        </li>
                        <li class="item">
                          <input type="checkbox" name="" id="">
                          <span class="name">Ukraine</span>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-8">
              <div class="search-wrapper">
                <div class="search-pannel d-flex">
                  <span class="material-symbols-outlined"> search </span>
                  <input type="text" class="serch-input" />
                  <span class="found-count">31 jobs openning</span>
                </div>
              </div>
              <div class="filters-wrapper">
                <ul class="filters-list d-flex">
                  <li class="item d-flex align-items-center">
                    <span>Poland</span>
                    <span class="icon material-symbols-outlined"> close </span>
                  </li>
                  <li class="item d-flex align-items-center">
                    <span>German</span>
                    <span class="icon material-symbols-outlined"> close </span>
                  </li>
                  <li class="item d-flex align-items-center">
                    <span>Junior</span>
                    <span class="icon material-symbols-outlined"> close </span>
                  </li>
                </ul>
              </div>
              <div class="btns-wrapper filters-actions">
                <btn class="btn">Subscribe this filters</btn>
                <btn class="btn">Clear this filters</btn>
              </div>
              <div class="result-jobs-wrapper">
                <ul class="jobs-list">
                  <li class="item">
                    <div class="job-wrapper">
                      <div class="job-header">
                        <span class="category">BUISNES ANALYSIS</span>
                        <div class="type-of-employment">
                          <span class="item">REMOTE</span>
                          <span class="item">/</span>
                          <span class="item">OFFICE</span>
                        </div>
                      </div>
                      <div class="title-wrapper">
                        <span class="title"
                          >Business Analyst (Low-Code Platforms)</span
                        >
                      </div>
                      <div class="location-wrapper">
                        <span class="icon material-symbols-outlined">
                          location_on
                        </span>
                        <span class="location">POLAND; UKRAINE;</span>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="page-wrapper"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="../scripts/accordion.js">
    </script>
  </body>
</html>
